<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templated
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{base}}/assets/css/main.css" />
    <link rel="shortcut icon" type="image/png" href="{{base}}/images/computer.png" />
</head>

<body class="subpage">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/" class="logo"><strong>SDNFV</strong> @ UCR and GW</a>
            <nav id="nav">
                {% for page in site.pages %}
                    {% if page.exclude != true and page.title %}
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    {{ content }}

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="row">
                <div class="4u 4u(medium)">
                    <span class="icon fa-github"> UCR and GW: <a style="color:white" target="_blank"
                            href="https://github.com/sdnfv">SDNFV</a></span>
                </div>
                <div class="8u 8u(medium)">
                    <p>Research on flexible, high performance software-based networks from UCR and GWU.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{base}}/assets/js/jquery.min.js"></script>
    <script src="{{base}}/assets/js/skel.min.js"></script>
    <script src="{{base}}/assets/js/util.js"></script>
    <script src="{{base}}/assets/js/main.js"></script>

</body>

</html>